* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #1c7dbd;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

/* criando animação de entrada do form.*/
  form {
    animation: fade 1s;
    /*animation-name: fade; */
    /*animation-duration: 1s; */
    
}

  @keyframes fade {
     0%{
        opacity: 0;
        transform: scale(0.5);
     }
     100%{
        opacity: 1;
        transform: scale(1);
     }
  }
 /*Classe adcionada pelo JS que fará as animações*/
  .form-hide {
    animation: down 500ms;
    /*quando acabar a animação ele fica no lugar que terminou*/
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
    
 
  }

  @keyframes down {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(100vh);
    }
  }


  /* Alerta de campo vazio */
  form .validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;

      
  }


  @keyframes nono {
      0%{
        transform: translateX(0);
      }
      35%{
        transform: translateX(-15%);
      }
      70%{
        transform: translateX(15%);
      }
      100%{
        transform: translateX(0);
      }


  }